/* ---------------------------------- */
/* Images Section */

#dsc-home-images-section {
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dsc-images-title {
    color: var(--dcr-color-font-secondary);
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto 25px;
}

.dsc-images-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    align-items: center;
}

@media(min-width: 1200px) {

    .dsc-home-title {
        font-size: 32px;
    }
}

/* ---------------------------------- */
/* Comments Section */

#dsc-home-comments-section {
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--dcr-color-bg-secondary);
}

.dsc-comments-title {
    color: var(--dcr-color-font-secondary);
    font-weight: 700;
    font-size: 20px;
    margin: 0 auto 25px;
}

.dsc-comments-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    max-width: 960px;
}

@media (min-width: 1200px) {
    .dsc-comments-title {
        font-size: 32px;
    }
}