.dsc-comment-card {
    padding: 25px 20px;
    background-color: var(--dcr-color-bg-terciary);
    border: 1px solid var(--dcr-color-border-primary);
    border-radius: 12px;
    width: 100%;
}

.dsc-comment-card p {
    color: var(--dcr-color-font-terciary);
    font-size: 16px;
    font-weight: 400;
}