@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dcr-color-bg-primary: #3C9AF0;
  --dcr-color-bg-secondary: #C8C8C8;
  --dcr-color-bg-terciary: #FFFFFF;

  --dcr-color-font-primary: #FFFFFF;
  --dcr-color-font-secondary: #5E5E5E;
  --dcr-color-font-terciary: #3C9AF0;

  --dcr-color-border-primary: #3C9AF0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

a,
a:hover {
  text-decoration: unset;
  color: none;
}